header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 2rem;

    background-color: var(--retroBlue);
    color: var(--white);
}

nav {
    display: flex;
    gap: 2rem;
}

a {
    color: var(--white);
    transition: 0.3s;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    border-color: var(--retroRose);
    color: var(--retroRose);
}