section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    background-color: var(--white);
    color: var(--black);

    min-height: 80vh;
}
article{
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    background-color: var(--white);
    color: var(--black);

  
}

#collectionWelcomer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90vw;
}

.GameCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20vw;
    height: 20vw;

    margin: 1rem;
    padding: 2rem;

    border: 0.4rem solid var(--black);
    border-radius: 1rem;

    background-color: var(--retroBlue);
    color: var(--white);

    /* background: repeating-conic-gradient(rgb(64, 0, 255), rgb(255, 0, 43) 10deg); */
    /* animation: rotation 1s infinite linear; */

}
.retour{
  align-self: start;
}
#gameInfos li{
  margin: 25px;
}
.logo{
  display: flex;
  position: absolute;
  margin: 60px;
  width: 35%;
  top: 10;
  left: 10;
}

#filterPlateforme{

  
 appearance: none; 
  -webkit-appearance: none;
  
  width: 100%;
  max-width: 300px;
  padding: 12px 40px 12px 15px; 
  
  font-size: 16px;
  background-color: var(--retroBlue);
  border: 0.3rem solid var(--retroBlue);
  border-radius: 1.5rem;
  color: var(--white);
  transition: 0.3s;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

#filterPlateforme:hover {
  border-color: #3498db;
  color:#92c3e4;
}

#filterEtat{
 appearance: none; 
  -webkit-appearance: none;
  width: 100%;
  max-width: 300px;
  padding: 12px 40px 12px 15px; 
  font-size: 16px;
  background-color: var(--retroBlue);
  border: 0.3rem solid var(--retroBlue);
  border-radius: 1.5rem;
  color: var(--white);
  transition: 0.3s;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

#filterEtat:hover {
  border-color: #3498db;
  color:#92c3e4;
}
.filters{
  display: flex;
  flex-direction: row;
  top: 0px;

}


@media (max-width: 768px) {
  .logo {
    position: relative;
    width: 75%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

