main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button {
    padding: 1rem;
    background-color: var(--retroBlue);
    border-radius: 1.5rem;

    border: 0.3rem solid var(--white);

    color: var(--white);
    font-size: 1rem;

    transition: 0.3s;
}

button:hover {
    font-size: 1.2rem;
}