section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    background-color: var(--white);
    color: var(--black);

    min-height: 80vh;
}
article{
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    background-color: var(--white);
    color: var(--black);

  
}

#collectionWelcomer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90vw;
}

.GameCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20vw;
    height: 20vw;

    margin: 1rem;
    padding: 2rem;

    border: 0.4rem solid var(--black);
    border-radius: 1rem;

    background-color: var(--retroBlue);
    color: var(--white);

    /* background: repeating-conic-gradient(rgb(64, 0, 255), rgb(255, 0, 43) 10deg); */
    /* animation: rotation 1s infinite linear; */

}

.filters{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .logo {
    position: relative;
    width: 75%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

