section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    background-color: var(--white);
    color: var(--black);

    min-height: 80vh;
}